/* -------- General Stuff --------- */
* {
    font-family: 'Roboto', sans-serif;
}

body { 
    color:rgb(123, 133, 140);
    background-color: rgb(242, 242, 240);
}
/* -------- Nav bar stuff --------- */
nav{
    border-radius: 5px;
    background-color: rgb(0, 130, 224);
    width: 80%;
    height: 10%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
        left: 50%;
        top: 1%;
        transform: translateX(-50%);
}
nav a {
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
        top: 30%;
    transform: translateY(-50%);
}
nav a, nav a:visited {
    color:rgb(236, 243, 255);
}

/* -------- Footer's styles --------- */
footer {
    background-color: rgb(57, 61, 64);
    color:rgb(236, 243, 255);
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 0.5%;
    vertical-align: middle;
    width: 80%;
    height: 5%;
    position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    text-align: center;
}

footer .fa-heart {
    color: red;
}
